* {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Roboto', open-sans;
  }
  
  body {
    margin: 0;
  }
  
  header {
    background: #559bd5;
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 100%;
  }
  
 #section-a,
 #section-b {
    margin: 2rem auto;
    width: 40rem;
    max-width: 90%;
    border: 1px solid#559bd5;
    border-radius: 10px;
    padding: 1rem;
    color: #559bd5;
  }
  
  #section-b {
    text-align: center;
  }
  
  #section-a input {
    font: inherit;
    font-size: 3rem;
    border: 2px solid #559bd5;
    width: 10rem;
    padding: 0.15rem;
    margin: auto;
    display: block;
    color: #559bd5;
    text-align: center;
  }
  
  #section-a input:focus {
    outline: none;
  }
  
  #section-a button {
    font: inherit;
    background: #559bd5;
    color: white;
    border: 1px solid #559bd5;
    padding: 1rem;
    cursor: pointer;
  }
  
  #section-a button:focus {
    outline: none;
  }
  
  #section-a button:hover,
  #section-a button:active {
    background: #084f88;
    border-color: #084f88;
  }
  
  #calculations button {
    width: 4rem;
  }
  
  #calculations {
    margin-top: 1rem;
    text-align: center;
  }
  